$theme:(
    "light":(
        "c-logo": hsl(0, 0%, 100%),
        "c-bg": hsl(0, 0%, 98%),
        "c-bg-task": hsl(0, 0%, 100%),
        "c-gradient": linear-gradient(145deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
        "c-gradient-first": hsl(192, 100%, 67%),
        "c-gradient-second": hsl(280, 87%, 65%),
        "c-shadow-task-chosen": hsla(280, 87%, 65%, 0.199),
        "c-border-circle": hsl(236, 33%, 92%),
        "c-border-list-task": hsl(236, 33%, 92%),
        "c-font": hsl(235, 19%, 35%),
        "c-font-light": hsl(236, 9%, 61%),
        "c-font-completed": hsl(236, 33%, 92%),
        "c-activated-filter": hsl(220, 98%, 61%),
        "bg-header": url(../images/bg-desktop-light.jpg),
        "bg-header-mobile": url(../images/bg-mobile-light.jpg)
    ),

    "dark":(
        "c-logo": #ffffff,
        "c-bg": #161722,
        "c-bg-task": rgb(37, 39, 60),
        "c-gradient": linear-gradient(145deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
        "c-gradient-first": #57ddff,
        "c-gradient-second": #c058f3,
        "c-shadow-task-chosen": hsla(280, 87%, 65%, 0.199),
        "c-border-circle": hsl(233, 14%, 35%),
        "c-border-list-task": hsl(237, 14%, 26%),
        "c-font": hsl(234, 39%, 85%),
        "c-font-light": hsl(233, 14%, 35%),
        "c-font-completed": hsl(233, 14%, 35%),
        "c-activated-filter": hsl(220, 98%, 61%),
        "bg-header": url(../images/bg-desktop-dark.jpg),
        "bg-header-mobile": url(../images/bg-mobile-dark.jpg)
    )
);

$ff: 'Josefin Sans', sans-serif;

$border-radius-input: .3rem;
$transition: all .3s ease-in;

$media-query: (
    'lg': 650px,
    'md': 450px
);
