@use '../utilities/mixins' as m;

.footer{
    display: flex;
    justify-content: center;
    padding: 6rem 0 3rem;
    background: var(--c-bg);
    color: var(--c-font-light);


    &__text{
        @include m.containerWidth;
        font-size: .8rem;
        text-align: center;

        @include m.mq(lg){
            @include m.containerWidthMobile
        }
    }
}