@use '../utilities/functions' as f;
@use '../utilities/mixins' as m;

.header{
    position: relative;
    width: 100%;
    height: f.toRem(300);
    background: var(--bg-header);
    background-size: cover;

    display: flex;
    justify-content: center;

    @include m.mq(md){
        background: var(--bg-header-mobile);
        height: f.toRem(200);
        background-size: cover;

    }
}

.header-container{
    @include m.containerWidth;
    padding-top: 4.5rem;

    @include m.mq(lg){
        @include m.containerWidthMobile
    }

    @include m.mq(md){
        padding-top: 3rem;
    }
}

.header-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6rem;

    @include m.mq(lg){
        margin-bottom: .8rem;
    }
}

.logo{
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: var(--c-logo);

    @include m.mq(lg){
        @include m.containerWidthMobile
    }

    @include m.mq(md){
        font-size: 1.8rem;
    }
}

.toggle-container{
    position: relative;
    width: 40px;
    height: 40px;

}

.toggle-icon{
    cursor: pointer;
    position: absolute;
    animation: slideIn .8s;


    &--hidden{
        transform: translate(-100%);
        animation: slideOut .8s;
        opacity: 0;
        pointer-events: none;
        
    }
}



@keyframes slideOut{
    0%{
        transform: translate(0);
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        transform: translateX(-150%);
        
    }
}

@keyframes slideIn{
    0%{
        transform: translateX(150%);
        opacity: 0;

    }

    50%{
        opacity: 1;
    }

    100%{
        transform: translateX(0);
        visibility: visible;

    }
}
