@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;
@use '../utilities/functions' as f;

.main{
    background: var(--c-bg);
    display: flex;
    justify-content: center;
}

.main-container{
    @include m.containerWidth;
    margin-top: -3rem;
    z-index: 2;

    @include m.mq(lg){
        @include m.containerWidthMobile
    }

    @include m.mq(md){
        margin-top: -1.5rem;
    }

}

.todo-list{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.103);
    position: relative;
}


// Dynamic status
.dynamic-items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--c-bg-task);
    padding: 1rem;
    font-size: 1rem;
    color: var(--c-font-light);
    font-weight: 400;
    border-radius: 0 0 v.$border-radius-input v.$border-radius-input;

    @include m.mq(lg){
        flex-wrap: wrap;
    }
}

.items-left{
    @include m.mq(lg){
        order: 1;
    }
}

.items-status{
    display: flex;
    gap: .5rem;

    &__item{
        cursor: pointer;
        transition: all .2s ease-in-out;

        &--actived{
            color: var(--c-activated-filter);

            &:hover{
                color: var(--c-activated-filter)
            }
        }

        &:hover{
            color: var(--c-font);
        }
    }

    @include m.mq(lg){
        position: absolute;
        bottom: -4rem;
        left: 0;
        order: 3;
        width: 100%;
        background-color: var(--c-bg-task);
        border-radius: v.$border-radius-input;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.items-cleared{
    cursor: pointer;
    transition: all .2s ease-in-out;


        &:hover{
            color: var(--c-font);
        }

    @include m.mq(lg){
        order: 2;
    }
}

